PUBLIC_FIREBASE_API_KEY=
PUBLIC_FIREBASE_AUTH_DOMAIN=ngl-food-diary.firebaseapp.com
PUBLIC_FIREBASE_PROJECT_ID=ngl-food-diary
PUBLIC_FIREBASE_STORAGE_BUCKET=ngl-food-diary.firebasestorage.app
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
PUBLIC_FIREBASE_APP_ID=
