@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-primary-dark: #4f46e5;
}

body {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  min-height: 100vh;
}
